// ------------------------------------------------------------
// Navigation module (example)
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

header.pagehead {

	background-color: $primary;
	@include break($d) {
		background-color: $light;
	}

	.row {
		border-bottom: 3px solid $light;
	}

	.navtop {

		.white-logo {
			margin: 15px 0 0 10px;
			max-width: 70%;
			@include break($d) {
				display: none;
			}
		}

		#nav-toggle {
			float: right;
			background-color: $secondary;
			margin: 0;
			padding-bottom: 23px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 0;
			@include break($d) {
				display: none;
			}
		}
	} // end nav-top

	.nav-collapse {

		@include clearfix;
		background-color: $secondary;

		@include break($d) {
			background-color: $primary;
			height: 60px;
			clear: both;
			margin: 0 -500%;
	  		padding: 0 500%;
		}

		clear: both;
		text-align: center;
		font-weight: lighter;
		padding-bottom: 15px;

		ul {

			@include clearfix;
			margin: 0; // cancel out global ul li style
			@include break($d) {
				width: auto;
				float: left;
				clear: none;
				&.phonenumbers {
					float: right;
					li {
						text-align: right;
						a {
							padding: 14px 8px;
						}
					}
				}
			}

			li {

				float: left;
				width: 50%;
				margin: 0;
				list-style-type: none;

				@include break($d) {
					width: auto;
				}

				span {
					font-size: em-font(8px);
					display: block;
					clear: both;
				}

				a {

					@extend .font-sans;
					font-size: em-font(15px);
					display: inline-block;
					width: 100%;
					padding: 5px 0;
					color: white;
					border-left: transparent 5px solid;
					border-right: transparent 5px solid;
					color: $light;
					text-transform: uppercase;
					padding: 20px 5px;

					&:hover, &:active {

						background-color: transparentize($light, 0.9);
					}
				}
			}
		}
	}
	.logos {
		display: none;
	}
	@include break($d) {
		.logos {
			display: block;
			position: relative;
			height: 80px;
			padding: 25px 0;
			.logotype {float: left;}
			.slogan {float: right;}
			.logo {
				position: relative;
				margin: -85px auto 0;
				width: 200px;
			}
		}
	}
}