// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	overflow-x: hidden;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	overflow-x: hidden;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

img {
	max-width: 100%;
}

.is-mobile {

	@include break($d) {
		display: none;
	}
}

////////////
// LAYOUT //
////////////

section {
	@include clearfix;
	clear: both;
}
////////////
// STYLES //
////////////

.padded {
	padding: 10px;
}

.pullwidth {
	margin: 0 0 0 -20px;
	.row {
		padding-right: 0;
	}
	@include break($b) {
		margin: auto;
		.row {
			padding-right: 20px;
		}
	}
}

.fullwidthimg {
	height: 150px;
	@include break($d) {
		height: 300px;
	}
	background: url(../img/cdafall.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// second nav

section {
	overflow: visible;
}

#area-toggle {
	@extend .font-body;
	letter-spacing: 1px;
	background-color: $secondary;
	color: $light;
	padding: 15px 20px;
	font-size: em-font(25px);
	margin: 0;
	width: 100%;
	margin-top: -25px;
	margin-bottom: 35px;
	@include break($d) {
		display: none;
	}
}

.bottom-m {
	margin-bottom: 0 !important;
}

.area-collapse {
	height: 0;
	display: none;
	margin-bottom: 35px;
	&.marginbottom {
		margin-bottom: 80px;
	}
	overflow: hidden;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	.responsive-accordion-head {
		font-size: em-font(25px);
		background-color: $secondary;
		color: $light;
	}
	.responsive-accordion-panel {
		ul {
			li {
				padding: 10px 20px;
				background-color: $grey;
			}
		}
		@extend .font-sans;
		a {
			color: $dark;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	@include break($d) {
		height: 45px;
		display: block;
		overflow: visible;
		border-width: 0;
		position: relative;
		box-shadow: -25rem 0 0 $grey, 25rem 0 0 $grey;
		background-color: $grey;
		.responsive-accordion-head {
			font-size: em-font(25px);
			margin-top: -30px;
			width: 20%;
			float: left;
			background-color: $secondary;
			position: relative;
			z-index: 1;
			color: $light;
			.fa {
				color: lighten($secondary, 15%);
			}
			&:hover, &:active, &.active {
				background-color: lighten($secondary, 10%);
				.fa {
					color: $light;
				}
			}
		}
		.responsive-accordion-panel {
			position: absolute;
			box-shadow: -25rem 0 0 $grey, 25rem 0 0 $grey;
			width: 100%;
			margin-top: 35px;
			clear: both;
			background-color: $grey;
			ul {
				
				li {
					padding: 0;
					float: left;
					a {
						padding: 10px 15px;
						display: block;
						span {
							display: block;
							clear: both;
						}
						&:hover, &:active {

							background-color: transparentize($light, 0.5);
						}
					}
				}
			}
		}
	}
}

.responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
	padding: 0px;
}

#contact {
	// display: none;
	// height: 0;
	background-color: $grey;
	padding: 20px 0 20px;
	position: relative;

	@include break($c) {
		padding-top: 60px;
		padding-bottom: 45px;
		&:after {
			content: "";

			height: 90px;
			width: 90px;
			position: absolute;
			background-color: $light;
			margin: 0 auto;
			top: -45px;
			left: 47%;
			border-radius: 500px;
		}
	}
}

.open-p {
	display: block !important;
	height: auto !important;
}

.is-typeset {
	padding-bottom: 50px;
	img {
		margin: 0 0 30px 0;
		clear: both;
		width: 100%;
	}
	.right {
		float: right;
		margin: 0 0 15px 30px;
		@include break($b) {width: 40%;}
		// @include break($e) {
		// 	margin-right: -5%;
		// }
		// @include break($f) {
		// 	margin-right: -10%;
		// }
	}
	.left {
		float: left;
		margin: 0 30px 15px 0;
		@include break($b) {width: 40%;}
		// @include break($e) {
		// 	margin-left: -5%;
		// }
		// @include break($f) {
		// 	margin-left: -10%;
		// }
	}

	blockquote {
		padding: 5%;
		clear: both;
		background-color: $secondary;
		color: $light;
		&:before {
			content: "“ ";
		}
		&:after {
			content: " ”";	
		}
		@include break($b) {
			clear: none;
			float: right;
		}
	}

}

.contact-foot {
	background-color: $primary;
	.contact-btn {		
		clear: both;
		padding-top: 25px;
		padding-bottom: 25px;
		@include clearfix;
		img {
			width: 100%;
			padding: 0 10px;
			max-width: 450px;
			display: block;
			// margin: 0 auto;
			@include break($c) {
				// float: left;
				// width: 40%;
			}
		}
		button {
			font-size: em-font(20px);
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $light;
			background-color: transparentize($light, 0.9);
			// margin: 20px auto;
			display: block;
			padding: 10px 45px;
			@include break($c) {
				font-size: em-font(25px);
				margin: 15px 25px 10px 0;
				padding: 10px 45px;
				// float: right;
			}
		}
	}
}

.credit {
	small {
		@extend .font-sans;
		color: $primary;
		font-weight: bold;
		font-size: $eta;
		text-transform: uppercase;
		margin: 20px 0 15px;
		display: block;
		text-align: center;
	}
}

.btn {
	background-color: $secondary;
	color: $light;
	font-size: em-font(12px);
	letter-spacing: 1px;
	padding: 10px 20px !important;
	margin: 10px 0 !important;
	@extend .font-sans;
	text-transform: uppercase;
}

.gallery {
	margin-bottom: 50px;
	@include clearfix; 
	div {
		margin-bottom: 15px;
	}
	a {
		display: block;
		.tint {
			border-radius: 500px;
			position: relative;
			overflow: hidden;
			margin-bottom: 0;
			padding-bottom: 0;
			img {
				margin-bottom: -2px;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				filter: grayscale(100%);		
			}
			&:before {
				background: rgba(0,0,160, 0.5);
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 5;
			}
		}

		&:hover .tint img {
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			filter: grayscale(0%);
		}
		&:hover .tint:before {
			background: transparent;
		}
	}

	h4 {
		@extend .font-sans;
		text-transform: uppercase;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
		span {
			display: block;
			font-weight: bold;
			font-size: em-font(20px);
			margin-top: -5px;
		}
	}
	.colspan2-1 {
		width: 50%;
		padding-left: 3%; 
	}
}

#sidebar {
	background-color: $grey;
	margin-bottom: 100px;
	padding: 0 20px;
	@include break($c) {
		margin-bottom: 0;
		padding: 0 40px;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: -9955px;
			right: 0;
			border-left: 9999px solid $grey;
		}
	}
	text-align: center;
	img {
		border-radius: 500px;
		margin-top: -110px;
		max-width: 200px;
		@include break($c) {
			margin-top: -90px;
		}
		z-index: 10;
		position: relative;
	}
	ul {
		margin-left: 0;
		li {
			list-style-type: none;
			a {
				z-index: 10;
				position: relative;
			}
		}
	}
}

span {
	display: block;
}


/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
