@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

header.pagehead {
  background-color: #263645;
}
.lt-ie9 header.pagehead {
  background-color: white;
}
@media screen and (min-width: 900px) {
  header.pagehead {
    background-color: white;
  }
}
header.pagehead .row {
  border-bottom: 3px solid white;
}
header.pagehead .navtop .white-logo {
  margin: 15px 0 0 10px;
  max-width: 70%;
}
.lt-ie9 header.pagehead .navtop .white-logo {
  display: none;
}
@media screen and (min-width: 900px) {
  header.pagehead .navtop .white-logo {
    display: none;
  }
}
header.pagehead .navtop #nav-toggle {
  float: right;
  background-color: #4c2a2e;
  margin: 0;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0;
}
.lt-ie9 header.pagehead .navtop #nav-toggle {
  display: none;
}
@media screen and (min-width: 900px) {
  header.pagehead .navtop #nav-toggle {
    display: none;
  }
}
header.pagehead .nav-collapse {
  overflow: hidden;
  *zoom: 1;
  background-color: #4c2a2e;
  clear: both;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 15px;
}
.lt-ie9 header.pagehead .nav-collapse {
  background-color: #263645;
  height: 60px;
  clear: both;
  margin: 0 -500%;
  padding: 0 500%;
}
@media screen and (min-width: 900px) {
  header.pagehead .nav-collapse {
    background-color: #263645;
    height: 60px;
    clear: both;
    margin: 0 -500%;
    padding: 0 500%;
  }
}
header.pagehead .nav-collapse ul {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
}
.lt-ie9 header.pagehead .nav-collapse ul {
  width: auto;
  float: left;
  clear: none;
}
.lt-ie9 header.pagehead .nav-collapse ul.phonenumbers {
  float: right;
}
.lt-ie9 header.pagehead .nav-collapse ul.phonenumbers li {
  text-align: right;
}
.lt-ie9 header.pagehead .nav-collapse ul.phonenumbers li a {
  padding: 14px 8px;
}
@media screen and (min-width: 900px) {
  header.pagehead .nav-collapse ul {
    width: auto;
    float: left;
    clear: none;
  }
  header.pagehead .nav-collapse ul.phonenumbers {
    float: right;
  }
  header.pagehead .nav-collapse ul.phonenumbers li {
    text-align: right;
  }
  header.pagehead .nav-collapse ul.phonenumbers li a {
    padding: 14px 8px;
  }
}
header.pagehead .nav-collapse ul li {
  float: left;
  width: 50%;
  margin: 0;
  list-style-type: none;
}
.lt-ie9 header.pagehead .nav-collapse ul li {
  width: auto;
}
@media screen and (min-width: 900px) {
  header.pagehead .nav-collapse ul li {
    width: auto;
  }
}
header.pagehead .nav-collapse ul li span {
  font-size: 0.5em;
  display: block;
  clear: both;
}
header.pagehead .nav-collapse ul li a {
  font-size: 0.9375em;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  color: white;
  border-left: transparent 5px solid;
  border-right: transparent 5px solid;
  color: white;
  text-transform: uppercase;
  padding: 20px 5px;
}
header.pagehead .nav-collapse ul li a:hover, header.pagehead .nav-collapse ul li a:active {
  background-color: rgba(255, 255, 255, 0.1);
}
header.pagehead .logos {
  display: none;
}
.lt-ie9 header.pagehead .logos {
  display: block;
  position: relative;
  height: 80px;
  padding: 25px 0;
}
.lt-ie9 header.pagehead .logos .logotype {
  float: left;
}
.lt-ie9 header.pagehead .logos .logotype a {
  display: block;
}
.lt-ie9 header.pagehead .logos .slogan {
  float: right;
}
.lt-ie9 header.pagehead .logos .logo {
  position: relative;
  margin: -85px auto 0;
  width: 200px;
}
.lt-ie9 header.pagehead .logos .logo a {
  display: block;
}
@media screen and (min-width: 900px) {
  header.pagehead .logos {
    display: block;
    position: relative;
    height: 80px;
    padding: 25px 0;
  }
  header.pagehead .logos .logotype {
    float: left;
  }
  header.pagehead .logos .logotype a {
    display: block;
  }
  header.pagehead .logos .slogan {
    float: right;
  }
  header.pagehead .logos .logo {
    position: relative;
    margin: -85px auto 0;
    width: 200px;
  }
  header.pagehead .logos .logo a {
    display: block;
  }
}

/* For use in conjunction with the Backbone Responsive Framework - https://github.com/joemottershaw/backbone */
.responsive-accordion li .responsive-accordion-head {
  cursor: pointer;
}

.responsive-accordion-default.responsive-accordion li .responsive-accordion-head {
  padding: 20px;
  position: relative;
}

.responsive-accordion-default.responsive-accordion li .responsive-accordion-head i {
  position: absolute;
  top: 18px;
  right: 10px;
}

.responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
  padding: 20px;
}

/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe img {
  width: 100%;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
  outline: none;
}
button span {
  display: block;
}

.lines-button {
  padding: 1rem 0.5rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.2857143rem;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.2857143rem;
  background: white;
  border-radius: 0.1428571rem;
  transition: 0.3s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.2857143rem;
  background: white;
  border-radius: 0.1428571rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.1428571rem center;
  transform-origin: 0.1428571rem center;
}
.lines:before {
  top: 0.5rem;
}
.lines:after {
  top: -0.5rem;
}

.lines-button:hover .lines:before {
  top: 0.5714286rem;
}
.lines-button:hover .lines:after {
  top: -0.5714286rem;
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 2rem;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.lines-button.x2 .lines {
  transition: background .3s .5s ease;
}
.lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top .3s .6s ease, -webkit-transform .3s ease;
  transition: top .3s .6s ease, transform .3s ease;
}

.lines-button.x2.close .lines {
  transition: background .3s 0s ease;
  background: transparent;
}
.lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
  transition: top .3s ease, -webkit-transform .3s .5s ease;
  transition: top .3s ease, transform .3s .5s ease;
  top: 0;
  width: 2rem;
}
.lines-button.x2.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x2.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  overflow-x: hidden;
  background: white;
  color: #777777;
}

a {
  color: #4c2a2e;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #9e5760;
}
a:not(> img) {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

.lt-ie9 .is-mobile {
  display: none;
}
@media screen and (min-width: 900px) {
  .is-mobile {
    display: none;
  }
}

section {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

.padded {
  padding: 10px;
}

.pullwidth {
  margin: 0 0 0 -20px;
}
.pullwidth .row {
  padding-right: 0;
}
.lt-ie9 .pullwidth {
  margin: auto;
}
.lt-ie9 .pullwidth .row {
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .pullwidth {
    margin: auto;
  }
  .pullwidth .row {
    padding-right: 20px;
  }
}

.fullwidthimg {
  height: 150px;
  background-image: url(../img/fallriver.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.lt-ie9 .fullwidthimg {
  height: 300px;
}
@media screen and (min-width: 900px) {
  .fullwidthimg {
    height: 300px;
  }
}
.lt-ie9 .fullwidthimg {
  background-attachment: fixed;
  background-position: center -150px;
}
@media screen and (min-width: 600px) {
  .fullwidthimg {
    background-attachment: fixed;
    background-position: center -150px;
  }
}
.lt-ie9 .fullwidthimg {
  background-position: center -250px;
}
@media screen and (min-width: 1100px) {
  .fullwidthimg {
    background-position: center -250px;
  }
}

section {
  overflow: visible;
}

#area-toggle {
  letter-spacing: 1px;
  background-color: #4c2a2e;
  color: white;
  padding: 15px 20px;
  font-size: 1.5625em;
  margin: 0;
  width: 100%;
  margin-top: -25px;
  margin-bottom: 35px;
}
.lt-ie9 #area-toggle {
  display: none;
}
@media screen and (min-width: 900px) {
  #area-toggle {
    display: none;
  }
}

.bottom-m {
  margin-bottom: 0 !important;
}

.area-collapse {
  height: 0;
  display: none;
  margin-bottom: 35px;
  overflow: hidden;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.area-collapse.marginbottom {
  margin-bottom: 80px;
}
.area-collapse .responsive-accordion-head {
  font-size: 1.5625em;
  background-color: #4c2a2e;
  color: white;
}
.area-collapse .responsive-accordion-panel ul li {
  padding: 10px 20px;
  background-color: #e6e6e6;
}
.area-collapse .responsive-accordion-panel ul li:nth-of-type(even) {
  background-color: whitesmoke;
}
.area-collapse .responsive-accordion-panel a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.lt-ie9 .area-collapse {
  height: 45px;
  display: block;
  overflow: visible;
  border-width: 0;
  position: relative;
  box-shadow: -25rem 0 0 #e6e6e6, 25rem 0 0 #e6e6e6;
  background-color: #e6e6e6;
}
.lt-ie9 .area-collapse .responsive-accordion-head {
  font-size: 1.5625em;
  margin-top: -30px;
  width: 20%;
  float: left;
  background-color: #4c2a2e;
  position: relative;
  z-index: 1;
  color: white;
}
.lt-ie9 .area-collapse .responsive-accordion-head .fa {
  color: #7d454c;
}
.lt-ie9 .area-collapse .responsive-accordion-head:hover, .lt-ie9 .area-collapse .responsive-accordion-head:active, .lt-ie9 .area-collapse .responsive-accordion-head.active {
  background-color: #6d3c42;
}
.lt-ie9 .area-collapse .responsive-accordion-head:hover .fa, .lt-ie9 .area-collapse .responsive-accordion-head:active .fa, .lt-ie9 .area-collapse .responsive-accordion-head.active .fa {
  color: white;
}
.lt-ie9 .area-collapse .responsive-accordion-panel {
  position: absolute;
  box-shadow: -25rem 0 0 #e6e6e6, 25rem 0 0 #e6e6e6;
  width: 100%;
  margin-top: 35px;
  clear: both;
  background-color: #e6e6e6;
}
.lt-ie9 .area-collapse .responsive-accordion-panel ul li {
  padding: 0;
  float: left;
}
.lt-ie9 .area-collapse .responsive-accordion-panel ul li:nth-of-type(even) {
  background-color: #e6e6e6;
}
.lt-ie9 .area-collapse .responsive-accordion-panel ul li a {
  padding: 10px 15px;
  display: block;
}
.lt-ie9 .area-collapse .responsive-accordion-panel ul li a span {
  display: block;
  clear: both;
}
.lt-ie9 .area-collapse .responsive-accordion-panel ul li a:hover, .lt-ie9 .area-collapse .responsive-accordion-panel ul li a:active {
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 900px) {
  .area-collapse {
    height: 45px;
    display: block;
    overflow: visible;
    border-width: 0;
    position: relative;
    box-shadow: -25rem 0 0 #e6e6e6, 25rem 0 0 #e6e6e6;
    background-color: #e6e6e6;
  }
  .area-collapse .responsive-accordion-head {
    font-size: 1.5625em;
    margin-top: -30px;
    width: 20%;
    float: left;
    background-color: #4c2a2e;
    position: relative;
    z-index: 1;
    color: white;
  }
  .area-collapse .responsive-accordion-head .fa {
    color: #7d454c;
  }
  .area-collapse .responsive-accordion-head:hover, .area-collapse .responsive-accordion-head:active, .area-collapse .responsive-accordion-head.active {
    background-color: #6d3c42;
  }
  .area-collapse .responsive-accordion-head:hover .fa, .area-collapse .responsive-accordion-head:active .fa, .area-collapse .responsive-accordion-head.active .fa {
    color: white;
  }
  .area-collapse .responsive-accordion-panel {
    position: absolute;
    box-shadow: -25rem 0 0 #e6e6e6, 25rem 0 0 #e6e6e6;
    width: 100%;
    margin-top: 35px;
    clear: both;
    background-color: #e6e6e6;
  }
  .area-collapse .responsive-accordion-panel ul li {
    padding: 0;
    float: left;
  }
  .area-collapse .responsive-accordion-panel ul li:nth-of-type(even) {
    background-color: #e6e6e6;
  }
  .area-collapse .responsive-accordion-panel ul li a {
    padding: 10px 15px;
    display: block;
  }
  .area-collapse .responsive-accordion-panel ul li a span {
    display: block;
    clear: both;
  }
  .area-collapse .responsive-accordion-panel ul li a:hover, .area-collapse .responsive-accordion-panel ul li a:active {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
  padding: 0px;
}

#contact {
  background-color: #e6e6e6;
  padding: 20px 0 20px;
  position: relative;
}
.lt-ie9 #contact {
  padding-top: 60px;
  padding-bottom: 45px;
}
.lt-ie9 #contact:after {
  content: "";
  height: 90px;
  width: 90px;
  position: absolute;
  background-color: white;
  margin: 0 auto;
  top: -45px;
  left: 47%;
  border-radius: 500px;
}
@media screen and (min-width: 600px) {
  #contact {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  #contact:after {
    content: "";
    height: 90px;
    width: 90px;
    position: absolute;
    background-color: white;
    margin: 0 auto;
    top: -45px;
    left: 47%;
    border-radius: 500px;
  }
}

.open-p {
  display: block !important;
  height: auto !important;
}

.is-typeset {
  padding-bottom: 50px;
}
.is-typeset img {
  width: 100%;
  margin: 0 0 15px 30px;
  height: auto;
}
.lt-ie9 .is-typeset img {
  float: right;
  width: 40%;
}
@media screen and (min-width: 420px) {
  .is-typeset img {
    float: right;
    width: 40%;
  }
}
.is-typeset .full-width {
  margin: 0 0 30px 0;
  clear: both;
  width: 100%;
}
.is-typeset .right {
  margin: 0 0 15px 30px;
}
.lt-ie9 .is-typeset .right {
  float: right;
  width: 40%;
}
@media screen and (min-width: 420px) {
  .is-typeset .right {
    float: right;
    width: 40%;
  }
}
.is-typeset .left {
  margin: 0 30px 15px 0;
}
.lt-ie9 .is-typeset .left {
  float: left;
  width: 40%;
}
@media screen and (min-width: 420px) {
  .is-typeset .left {
    float: left;
    width: 40%;
  }
}
.is-typeset blockquote {
  padding: 5%;
  clear: both;
  background-color: #4c2a2e;
  color: white;
}
.is-typeset blockquote:before {
  content: "“ ";
}
.is-typeset blockquote:after {
  content: " ”";
}
.lt-ie9 .is-typeset blockquote {
  clear: none;
  float: right;
}
@media screen and (min-width: 420px) {
  .is-typeset blockquote {
    clear: none;
    float: right;
  }
}

.contact-foot {
  background-color: #263645;
}
.contact-foot .contact-btn {
  clear: both;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  *zoom: 1;
}
.contact-foot .contact-btn img {
  width: 100%;
  padding: 0 10px;
  max-width: 450px;
  display: block;
}
.contact-foot .contact-btn button {
  font-size: 1.25em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  padding: 10px 45px;
}
.lt-ie9 .contact-foot .contact-btn button {
  font-size: 1.5625em;
  margin: 15px 25px 10px 0;
  padding: 10px 45px;
}
@media screen and (min-width: 600px) {
  .contact-foot .contact-btn button {
    font-size: 1.5625em;
    margin: 15px 25px 10px 0;
    padding: 10px 45px;
  }
}

.credit small {
  color: #263645;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 0 15px;
  display: block;
  text-align: center;
}

.btn {
  background-color: #4c2a2e;
  color: white;
  font-size: 0.75em;
  letter-spacing: 1px;
  padding: 10px 20px !important;
  margin: 10px 0 !important;
  text-transform: uppercase;
}

.gallery {
  margin-bottom: 50px;
  overflow: hidden;
  *zoom: 1;
}
.lt-ie9 .gallery .colspan12-3 {
  width: 20% !important;
}
@media screen and (min-width: 900px) {
  .gallery .colspan12-3 {
    width: 20% !important;
  }
}
.gallery div {
  margin-bottom: 15px;
}
.gallery a {
  display: block;
}
.gallery a .tint {
  border-radius: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}
.gallery a .tint img {
  margin-bottom: -2px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gallery a .tint:before {
  background: rgba(71, 71, 136, 0.5);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.gallery a:hover .tint img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
.gallery a:hover .tint:before {
  background: transparent;
}
.gallery h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.gallery h4 span {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: -5px;
}
.gallery .colspan2-1 {
  width: 50%;
  padding-left: 3%;
}

.clear-sides {
  display: block;
  clear: both;
}

#sidebar {
  background-color: #e6e6e6;
  margin-bottom: 100px;
  padding: 0 20px;
  text-align: center;
}
.lt-ie9 #sidebar {
  margin-bottom: 0;
  padding: 0 40px;
  position: relative;
}
.lt-ie9 #sidebar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9993px;
  right: 0;
  border-left: 9999px solid #e6e6e6;
}
@media screen and (min-width: 600px) {
  #sidebar {
    margin-bottom: 0;
    padding: 0 40px;
    position: relative;
  }
  #sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9993px;
    right: 0;
    border-left: 9999px solid #e6e6e6;
  }
}
#sidebar img {
  border-radius: 500px;
  margin-top: -110px;
  max-width: 200px;
  margin-left: 0;
  margin-right: 0;
  float: none;
  width: 100%;
  height: auto;
  z-index: 10;
  position: relative;
}
.lt-ie9 #sidebar img {
  margin-top: -90px;
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  #sidebar img {
    margin-top: -90px;
    margin-bottom: 0;
  }
}
#sidebar ul {
  margin-left: 0;
}
#sidebar ul:first-of-type li:nth-of-type(even) {
  background-color: #f3f3f3;
  padding: 5px;
}
#sidebar ul li {
  list-style-type: none;
}
#sidebar ul li a {
  z-index: 10;
  position: relative;
}

span {
  display: block;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.font-body, body, #area-toggle {
  font-family: 'Garamond', 'Adobe Garamond', Garamond, Times, serif;
}

.font-sans, header.pagehead .nav-collapse ul li a, .area-collapse .responsive-accordion-panel, .credit small, .btn, .gallery h4, .as-heading__large, .is-typeset h2, .as-heading__normal, .is-typeset h4, .as-heading__smallest, .is-typeset h6 {
  font-family: 'Gotham', arial, sans-serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input, textarea {
  width: 100%;
}

#contact button {
  margin: 0;
  padding: 0;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2em;
  line-height: 1.2375em;
  background-color: #4c2a2e;
  padding: 10px 20px;
  color: white;
  display: inline-block;
}
.lt-ie9 .as-heading__headline, .lt-ie9 .is-typeset .headline, .is-typeset .lt-ie9 .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}
@media screen and (min-width: 600px) {
  .as-heading__headline, .is-typeset .headline {
    font-size: 2.625em;
    line-height: 1.152381em;
  }
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
  font-weight: bold;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.25em;
  line-height: 1.32em;
  text-transform: uppercase;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.5625em;
  line-height: 1.232em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.125em;
  line-height: 1.2222222em;
  text-transform: uppercase;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 0.75em;
  line-height: 1.4666667em;
  text-transform: uppercase;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
  color: black;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: -60px 0 0.5238095em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.6875em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.22em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.528em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.7333333em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 1.1em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 1.4666667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.2933333em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 2em;
  margin-bottom: 1.5em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

.is-typeset h1, .is-typeset h2, .is-typeset h3, .is-typeset h4, .is-typeset h5, .is-typeset h6 {
  color: #263645;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .row {
    min-width: 900px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    min-width: 1100px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    width: 1100px;
  }
}
.lt-ie9 .row {
  width: 980px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.row__colspaced {
  position: relative;
}
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
